/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.fauxColor {
  background-color: rgb(236, 73, 48);
}
.fauxText {
  color: white;
  text-decoration: none;
}
.fauxFooter {
  background-color: rgb(217, 217, 217);
}
